datasets
google-generativeai
google-genai
matplotlib
seaborn
numpy
gradio
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
langgraph
networkx
sentence-transformers
scipy
google-cloud-aiplatform
streamlit